* {
  padding: 0;
  margin: 0;
}

header {
  background-color: rgba(187, 18, 18, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
}
header hr {
  background-color: rgb(0, 0, 0);
  width: 50%;
  height: 1px;
}
.logo {
  background-color: rgba(0, 0, 0, 0);
  font-family: "Bebas Neue", sans-serif;
  font-size: 200px;
  font-weight: 400px;
  font-style: normal;
}
.abrir-menu,
.cerrar-menu {
  display: none;
}
.nav {
  background-color: rgba(12, 151, 151, 0);
  width: 60%;
  display: flex;
}
.nav-list {
  background-color: rgba(235, 137, 8, 0);
  display: flex;
  gap: 50px;
  list-style: none;
  bottom: 20px;
  padding: 10px;
  position: relative;
}
.nav-list a {
  text-decoration: none;
  font-size: 20px;
  flex-wrap: wrap;
  font-weight: bold;
  color: black;
}
.iconCart {
  height: 20px;
  background-color: rgba(0, 255, 255, 0);
  border: none;
}
.numeroCarrito {
  position: absolute;
  right: -7px;
  background-color: rgba(110, 109, 109, 0);
  color: rgba(0, 0, 0, 0.637);
  border-radius: 20%;
  padding: 2px 5px;
  font-size: 15px;
}

.container-main {
  display: flex;
  background-color: rgba(187, 116, 9, 0);
  width: 80%;
  gap: 110px;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 20px;
}
.img-main {
  height: 650px;
  border-radius: 20px;
}
.container-main h2 {
  background-color: rgba(0, 0, 0, 0);
  font-size: 60px;
  text-align: right;
  padding: 40px;
  overflow: hidden;
  height: 500px;
  margin-bottom: 80px;
  color: #000000;
}
.card-title-hr {
  width: 80%;
  margin: auto;
  border: 1px solid;
}
.card-title-h2 {
  width: 100%;
  display: flex;
  justify-content: center;
  user-select: none;
}
.container-card {
  padding: 10px;
  background-color: rgba(24, 223, 223, 0);
  height: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 80%;
  margin: auto;
  justify-content: center;
  gap: 50px;
  padding: 20px;
  overflow: hidden;
}

.card {
  background-color: #98c92700;
  height: 450px;
  width: 300px;
  margin: auto;
  -webkit-box-shadow: 0px 0px 3px 5px rgba(0, 0, 0, 0.77);
  -moz-box-shadow: 0px 0px 3px 5px rgba(0, 0, 0, 0.77);
  box-shadow: 0px 0px 3px 5px rgba(0, 0, 0, 0.77);
  margin-top: 100px;
}
.card-img {
  height: 300px;
  object-fit: cover;
}
.card-title {
  color: #838181;
  padding: 10px;
  font-size: 20px;
}
.card-precio {
  color: #838181;
  padding-left: 10px;
}

.container-button-card {
  background-color: #b90a0a00;
  display: flex;
  justify-content: center;
  gap: 50px;
}
.button-card {
  height: 40px;
  width: 80px;
  border: none;
  background-color: #0f0f0f00;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  border-radius: 10px;
  color: #0f0f0f;
  transition: ease 0.6s;
}
.button-card:hover {
  color: #ffffff;
  background-color: #000000;
}

/*section sobre nosotros*/
.Sobre-Nosotros {
  background-color: #838181;
  height: 100vh;
  width: 80%;
  margin: auto;
  display: flex;
  align-items: center;
  gap: 20px;
}
.img-Sobre-nosotros {
  height: 600px;
}
.Sobre-nosotros-info {
  background-color: #ad1a1a;
  height: 600px;
  text-align: left;
}
.Sobre-nosotros-info h1,
p {
  background-color: #709912e5;
  margin: auto;
}

@media screen and (max-width: 800px) {
  header {
    background-color: rgba(240, 11, 11, 0);
    display: flex;
    width: 100%;
    height: 300px;
  }
  .logo {
    background-color: rgba(0, 0, 0, 0);
    font-family: "Bebas Neue", sans-serif;
    font-size: 100px;
    font-style: normal;
    margin-right: 150px;
  }
  .iconCart {
    height: 20px;
    background-color: rgba(0, 255, 255, 0);
    border: none;
  }
  .numeroCarrito {
    position: absolute;
    left: 100px;
    background-color: rgba(20, 143, 102, 0);
    color: rgb(255, 255, 255);
    border-radius: 20%;
    padding: 2px 5px;
    font-size: 15px;
    display: inline-block;
  }
  .abrir-menu,
  .cerrar-menu {
    background-color: rgba(0, 255, 255, 0);
    display: block;
    border: 0;
    font-size: 1.45rem;
    cursor: pointer;
  }
  .cerrar-menu {
    margin-right: 20px;
    color: #fff;
  }

  hr {
    display: none;
  }

  .nav {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #000000a1;
    box-shadow: 0 0 0 1 100vmax rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0.5s ease;
    flex-direction: column;
    align-items: end;
    padding-top: 30px;
  }

  .nav-list {
    background-color: rgba(4, 170, 170, 0);
    flex-direction: column;
    align-items: end;
    gap: 30px;
    position: none;
    padding-right: 20px;
    margin-top: 30px;
  }
  .nav-list a {
    color: rgb(253, 253, 253);
  }

  .nav-visible {
    opacity: 1;
    visibility: visible;
  }
}
